<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD1h_UIqoJOuSIhUGj4pZx7_mQJF3R3ycw</string>
	<key>GCM_SENDER_ID</key>
	<string>29297378484</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.waynetipsy.chatAppCool</string>
	<key>PROJECT_ID</key>
	<string>chatapp-c79c8</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-c79c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:29297378484:ios:7545d677f00785cce8c3e1</string>
</dict>
</plist>